.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Noto Sans Regular';
  font-style: italic;
  font-weight: normal;
  src: url('NotoSans-Italic.ttf') format('ttf');
}

.particles {
  /*for fixed position, even scrolling it will stay */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}